$main-red: #fd1b54;
$sand: #ffe18d;
$white: #ffffff;
$light-gray: #f2f4eb;
$purple: #cb225d;
$dark-blue: #050c27;
$light-blue: #00d9fb;

$xs: 0.75rem; // 12px
$sm: 0.875rem; // 14px
$md: 1rem; // 16px (default size)
$lg: 1.25rem; // 20px
$xl: 1.5rem; // 24px
