//Mountserrat font
@font-face {
  font-family: mountserrat-light;
  src: url(assets/Fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
  font-family: mountserrat-medium;
  src: url(assets/Fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
  font-family: mountserrat-semi-bold;
  src: url(assets/Fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: mountserrat-bold;
  src: url(assets/Fonts/Montserrat/static/Montserrat-Bold.ttf);
}

//Project colors
$main-red: #fd1b54;
$sand: #ffe18d;
$white: #ffffff;
$light-gray: #f2f4eb;
$purple: #cb225d;
$dark-blue: #050c27;
$blue: #1a2551;
$light-blue: #00d9fb;

//Font sizes
$xs: 0.75rem;
$sm: 0.875rem;
$md: 1rem;
$lg: 1.25rem;
$xl: 1.5rem;

//Fonte base do app
.all-app {
  font-family: mountserrat-light;
}

//Fonte base dos titulos
h1,
h2,
h3,
h4 {
  font-family: mountserrat-semi-bold;
}
